<div class="container logo-background text-center">
    <div class="row">
        <img class="logo center-block" src="../img/HUH-logo.png" />
    </div>
    <div class="row">
        <span class="logo-subtitle">About Heads Up Heads</span>
    </div>
    <span class="glyphicon glyphicon-circle-arrow-down scroll-btn"></span>
</div>