  <div class="margin-top-fifty">
    <div class="container-hero-image">   <!-- get rid of padding -->
      <!--<img class="img-responsive hero-image" src="threepnto.png">-->
      <div class="hero-image image-responsive">
        <div class="hero-text">
          <h1>About Us</h1>
        </div>
      </div>
    </div><!-- /.container -->
  </div>

