    <div class="container content">
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
            <div class="info-box box-postings">
                <div class="box-header text-center">
                    <span>Latest Posts</span>
                </div>
                <div class="box-body latest-posts">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, taciti metus justo. Hac non nullam purus nulla praesent pellentesque <span>4 hrs ago</span></li>
                        <li>Lorem ipsum dolor sit amet, taciti metus justo. Hac non nullam <span>5 hrs ago</span></li>
                        <li>Lorem ipsum dolor sit amet, taciti metus justo. Hac non nullam purus nulla praesent pellentesque, blah blah blah <span>6 hrs ago</span></li>
                        <li>Lorem ipsum dolor sit amet <span>10 hrs ago</span></li>
                    </ul>
                </div>
            </div>
            <button type="button" class="btn btn-success center-block">See More Posts <i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
            <div class="info-box box-shows">
                <div class="box-header text-center">
                    <span>Upcoming Shows</span>
                </div>
                <div class="box-body upcoming-shows">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, taciti metus justo. Hac non nullam purus nulla praesent pellentesque <span>4 hrs ago</span></li>
                        <li>Lorem ipsum dolor sit amet, taciti metus justo. Hac non nullam <span>5 hrs ago</span></li>
                        <li>Lorem ipsum dolor sit amet, taciti metus justo. Hac non nullam purus nulla praesent pellentesque, blah blah blah <span>6 hrs ago</span></li>
                        <li>Lorem ipsum dolor sit amet <span>10 hrs ago</span></li>
                    </ul>
                </div>
            </div>
            <button type="button" class="btn btn-success center-block">See More Shows <i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>