
<!-- ERROR HANDLING -->


    <% if(error && error.length > 0) { %>
        <div class="row margin-nav-errors alert alert-danger text-center" role="alert">
            <h3 class="text-center"><%= error %></h3>
        </div>
    <% } %> 
    <% if(success && success.length > 0) { %> 
        <div class="row margin-top-seventy-five">
          <div class="alert alert-success text-center">
            <span class="error-text" role="alert"><%= success %></span>
          </div>

        </div>
    <% } %>    
    
