
<!-- ERROR HANDLING -->


    <% if(error && error.length > 0) { %>
        <div class="row margin-nav-errors alert alert-danger error-text" role="alert">
            <span class=""><%= error %></span>
        </div>
    <% } %> 
    <% if(success && success.length > 0) { %> 
        <div class="row margin-nav-errors" style="">
          <div class="alert alert-success text-center no-margin-bottom">
            <span class="error-text" role="alert"><%= success %></span>
          </div>

        </div>
    <% } %>    
    
