<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header %>
</head>
  <body>
    <% include partials/nav %>
    <% include partials/hero-image %>
    <!--<% include partials/marketing-content.ejs %>-->
    <!--<div class="container">
      <h1>THIS IS THE INDEX!!!!!</h1>
    </div> -->
    <% include partials/footer %>
  <!--</body>
</html>-->