<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!--MAKE SURE THIS IS IN THE HEAD FOR STYLING ACROSS DEVICES-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Heads Up Heads</title>

    <!--Bootstrap and jQuery-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--MY EXTERNAL STYLESHEETS-->
    <link rel="stylesheet" href="/css/home.css" />
    <!--<link rel="stylesheet" href="/css/mediaStyles.css" />-->
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

</head>
<body>

    <% include ./partials/nav %>

    <% if(hasSuccessMsg) {%>
        <h1 class="alert alert-success margin-top-fifty" role="alert"><%= successMsg %></h1>
    <% } %>

        <!--</div>
    </nav>-->
<% include ./partials/homePagePicTxtSlider %>
<% include ./partials/homePageContent %>
    <script src="/js/home.js"></script>
</body>
</html>