

body {
    font-family: Karla;
}

/* ======= NAVBAR ======== */

.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 1.8em;
}


.navbar-default {
    background-image: url(../img/threepnto.png);
    background-repeat: repeat-x;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

 .navbar-default .navbar-nav > .active{
    color: #ffffff;
    background-image: url(../img/koa.png);
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-image: url(../img/koa.png);
 }

 .nav-font-size {
     font-size: 1.6em;
 }


/* ================= ABOUT US =================== */

.hero-image {
		background-image: url(../img/phish_hero.jpg);
		background-position: center;
		background-size: cover;
		height: 400px;
		width: 100%;
}

.koa-marketing-main {
    background-image: url(../img/koa.png);
    height: 800px;
}

.hero-text {
    color: #ffffff;
    text-align: center;
    margin: auto;
    padding: 175px 175px;
}

.container-hero-image {
    margin-right: auto;
    margin-left: auto;
}

.margin-top-fifty {
    margin-top: 50px;
}

.margin-top-seventy-five {
    margin-top: 75px;
}

.margin-bottom-fifty {
    margin-bottom: 50px;
}



.all-about-music-box {
    background-image: url(../img/koa.png);
    min-height: 35em;
    margin-top: 5em;
    text-align: center;
}

.about-us-box-header {
    padding: .5em;
    font-size: 2.5em;
    margin-bottom: 0.3em;
}

.text-center {
    text-align: center;
}

.about-us-glyphs {
    font-size: 7em;
    /*position: center;*/
    text-align: center;
    margin-bottom: 0.3em;
}

.about-us-text {
    font-size: 1.3em;
}


/*==============NEW POST PAGE=================*/
.new-post-text-box {
    height: 275px !important;
    padding: 0 0.4em 0.4em 0;

}

.site-green {
    background-color: #188d18;
}

.new-post-text-size-color {
    font-size: 1.3em;
    color: black;
}



/* =============VIEW POST PAGE=============== */

.view-post-container {
    padding-top: 20px;
    padding-bottom: 50px;
}

.post-heading {
    height: 2.5em;
    background-color: #188d18;
    /*background-image: url(../img/threepnto.png);*/
    color: #ffffff;
    margin-bottom: 1em;
    width: 100%;
    padding-left: 1em;
}

.post-text-box {
    width: 100%;
    border: 1px solid black;
    height: auto;
    min-height: 15em;
    background-image: url(../img/koa.png);
    /*padding-left: 1em;*/
}

.post-text-main-text {
    margin: 0.4em 1em 0.4em 1em;
}

.click-to-comment {
    padding: 0em 0em 0em 45em;
}

.message-board-text {
    font-size: 1.8em;
    color: black;
    margin-top: 8px;
}

.edit-delete-buttons-box {
    margin: 0.5em;
    height: 2em;
}

.edit-link-comments {
    float: left !important;
}

.small-margin-top-bottom {
    margin: 1em 0em 1em 0em;
}

.underline {
    text-decoration: underline;
}

.black-text {
    color: black;
}

.margin-top-em {
    margin-top: 1em;
}

.comment-header {
    background-image: url(../img/threepnto.png);
    color: white;
}

.comment-text-header {
    margin-top: 2px;
    margin-bottom: 5px;
}

.comment-div {
    border-bottom: 1px solid rgba(121, 115, 115, 0.61);
}

.add-comment-text {
    font-size: 1.9em;
}