

body {
    font-family: Karla;
}

/* ======= NAVBAR ======== */

.navbar-default .navbar-brand {
    color: #ffffff;
}


.navbar-default {
    background-image: url(../img/threepnto.png);
    background-repeat: repeat-x;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

 .navbar-default .navbar-nav > .active{
    color: #ffffff;
    background-image: url(../img/koa.png);
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-image: url(../img/koa.png);
 }


/*  */

.hero-image {
		background-image: url(../img/phish_hero.jpg);
		background-position: center;
		background-size: cover;
		height: 400px;
		width: 100%;
}

.koa-marketing-main {
    background-image: url(../img/koa.png);
    height: 800px;
}

.hero-text {
    color: #ffffff;
    text-align: center;
    margin: auto;
    padding: 175px 175px;
}

.container-hero-image {
    margin-right: auto;
    margin-left: auto;
}

.margin-top-fifty {
    margin-top: 50px;
}

.margin-top-seventy-five {
    margin-top: 75px;
}

.margin-bottom-fifty {
    margin-bottom: 50px;
}



.all-about-music-box {
    background-image: url(../img/koa.png);
    min-height: 30em;
    margin-top: 5em;
}

.about-us-box-header {
    padding: .5em;
    font-size: 2.5em;
}

.text-center {
    text-align: center;
}




/*==============NEW POST PAGE=================*/
.new-post-text-box {
    height: 200px;
    padding: 0 0.4em 0.4em 0;

}

.site-green {
    background-color: #188d18;
}

