body, html
{
    height: 100%;
}

.logo-background {
    width: 100%;
    height: 100%;
    background-image: url(../img/background_phish_cropped.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin-top: 10em;
    margin-bottom: 2em;
    height: 250px;
}

.logo-subtitle {
    padding: 0em 1em 0em 1em;
    font-size: 2em;
    color: white;
}

@media (max-width:800px) and (min-width:515px) {
    .logo-subtitle {
        font-size: 1.64em;
    }
    .logo {
        height: 200px;
    }
    .logo-background {
        margin-top: 4em;
    }  
    .scroll-btn {
        font-size: 4em !important;
    }
}

@media (max-width:514px) {
    .logo-subtitle {
        font-size: 1em;
    }
    .logo {
        height: 150px;
    }
    .logo-background {
        margin-top: 4em;
    }
    .scroll-btn {
        font-size: 3em !important;
    }
}



.scroll-btn {
    cursor: pointer;
    margin-top: .6em;
    color: white;
    transition: all 0.3s ease;
    font-size: 5em;
}

.btn-success {
    /*background-image: url(../img/koa.png);*/
    background-color: #188d18;
    border-color: black;
    color: #ffffff;
    
}

.content {
    /*background-color: #dd5306;*/
    background-image: url(../img/threepnto.png);
    width: 100%;
}

    .content button {
        margin-top: .6em;
        margin-bottom: 2em;
        width: 80%;
    }

.info-box {
    /*background-color: white;*/
    background-image: url(../img/koa.png);
    min-height: 370px;
    margin-top: 30px;
    border: 1px solid black;
    font-size: 1.3em;
}

.box-header {
    margin: 50px 0px;
    font-size: 2em;
    text-align: center;
}

.home-content-main-text {
    font-size: 0.85em;
    padding: 0px 15px;
    margin-bottom: 0px;
    list-style: none;
} 

.home-button-text {
    color: white;
    font-size: 0.75em;
}

@media (max-width:1075px) and (min-width:901px) {
    .home-content-main-text {
        font-size: 0.85em ;
    }
    .box-header {
        font-size: 1.85em;
    }
    /* .info-box {
        margin-top: 15px;
    } */
} 

@media (max-width:900px) and (min-width:515px) {
    .home-content-main-text {
        font-size: 0.67em ;
    }
    .box-header {
        font-size: 1.5em;
        margin: 50px 0px;
    }
    .info-box {
        min-height: 325px;
    }
}

@media (max-width:514px) {
    .home-content-main-text {
        font-size: 0.5em ;
    }
    .box-header {
        font-size: 1.15em;
        margin: 22px 0px;
    }
    .info-box {
        min-height: 205px;
    }
    /* .content button {
        margin-bottom: 0em;
    } */
}


.scroll-btn:hover {
    transform: translate(0,-10px);
    color: green;
}

/*@media(max-width: 1024px) {
    .box-header {
        font-size: 1.55em !important;
    }
}*/

.box-body {
    /* padding: 0em .5em 0em .5em; */
    overflow-wrap: break-word;
}

    .box-body ul {
        list-style: none;
        /* padding-bottom: 1em; */
    }

        .box-body ul li {
            margin-bottom: .65em;
            /* font-size: 1em; */
        }
            .box-body ul li span {
            color: gray;

        }



