body, html
{
    height: 100%;
}

.logo-background {
    width: 100%;
    height: 100%;
    background-image: url(../img/background_phish_cropped.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin-top: 10em;
    margin-bottom: 2em;
    height: 250px;
}

.logo-subtitle {
    padding: 0em 1em 0em 1em;
    font-size: 2em;
    color: white;
}

@media (max-width:800px) and (min-width:515px) {
    .logo-subtitle {
        font-size: 1.64em;
    }
    .logo {
        height: 200px;
    }
    .logo-background {
        margin-top: 4em;
    }  
    .scroll-btn {
        font-size: 4em !important;
    }
}

@media (max-width:514px) {
    .logo-subtitle {
        font-size: 1em;
    }
    .logo {
        height: 150px;
    }
    .logo-background {
        margin-top: 4em;
    }
    .scroll-btn {
        font-size: 3em !important;
    }
}



.scroll-btn {
    cursor: pointer;
    margin-top: .6em;
    color: white;
    transition: all 0.3s ease;
    font-size: 5em;
}

.btn-success {
    /*background-image: url(../img/koa.png);*/
    background-color: #188d18;
    border-color: black;
    color: #ffffff;
    
}

.content {
    /*background-color: #dd5306;*/
    background-image: url(../img/threepnto.png);
    width: 100%;
    min-height: 75%;
}

    .content button {
        margin-top: .6em;
        margin-bottom: 2em;
        width: 80%;
    }

.info-box {
    /*background-color: white;*/
    background-image: url(../img/koa.png);
    min-height: 20em;
    margin-top: 2em;
    border: 1px solid black;
    font-size: 1.3em;
}

.box-header {
    margin: 1.2em 0 1.2em 0;
    font-size: 2em;
    text-decoration: underline;
}

.scroll-btn:hover {
    transform: translate(0,-10px);
    color: green;
}

/*@media(max-width: 1024px) {
    .box-header {
        font-size: 1.55em !important;
    }
}*/

.box-body {
    padding: 0em .5em 0em .5em;
    overflow-wrap: break-word;
}

    .box-body ul {
        list-style: none;
        padding-bottom: 1em;
    }

        .box-body ul li {
            margin-bottom: .4em;
            font-size: 1em;
        }
            .box-body ul li span {
            color: gray;

        }