<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!--MAKE SURE THIS IS IN THE HEAD FOR STYLING ACROSS DEVICES-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Heads Up Heads</title>

    <!--Bootstrap and jQuery-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!--MY EXTERNAL STYLESHEETS-->
    <!--<link rel="stylesheet" href="/css/normalize.css" />-->
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/mediaStyles2.css" />

</head>  

<body>
    <div class="nav-container">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Heads Up Heads</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse nav-font-size">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/message-board">Mesage Board</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                </div>
            </div>
        </nav>
    </div>    
<!--<div class="nav-container">
    
</div>-->

<div class="">
    <div class="row-fullwidth profile-header">
        <div class="col-md-4 profile-photo-column">
            <div class="profile-photo-holder">
                <img class="profile-photo" src="http://i2.mirror.co.uk/incoming/article8075004.ece/ALTERNATES/s615b/Harambe.jpg" />
            </div> 
        </div>  
        <div class="col-md-8 profile-title-column">
            <div class="profile-title">
                <h2 class="profile-title-name">Seth Goldman</h2>
                <div class="profile-title-occupation profile-subhead">Patent Attorney</div>
                <div class="profile-title-location profile-subhead">Ft. Lauderdale</div>
            </div>
        </div>
    </div>
    <div class="row-fullwidth profile-content">
        <div class="col-md-4 profile-content-left">
            <div class="profile-content-about">
                <h3 class="about-header">About Seth</h3>
                <span class="profile-about-position profile-about-item"><span class="bold">Position: </span>Patent Attorney</span>
                <span class="profile-about-hometown"></span>
                <span class="profile-about-phish"></span>
                <span class="profile-about-dead"></span>
            </div>
            <div class="profile-content-about">
            </div>
        </div>
        <div class="col-md-8 profile-content-right">
            <div class="profile-content-posts">
                <h2 class="posts-header">Latest Posts</h2>
                <div class="profile-content-post-item">
                    <div class="profile-content-post-header">
                        Sample Post
                    </div>
                    <div class="profile-content-post-body">
                        <p>
                            Lorem ipsum dolor set lorem ipsum dolor set
                        </p>
                    </div>
                </div>
                <div class="profile-content-post-item">
                    <div class="profile-content-post-header">
                        Sample Post
                    </div>
                    <div class="profile-content-post-body">
                        <p>
                            Lorem ipsum dolor set lorem ipsum dolor set
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-nav">
    </div>
</div>



    <!--<div class="page-title">
        <span class="">Seth Goldman</span>
        <div class="col-md-4 image-responsive">
            <div class="user-profile-image-holder image-responsive">

            </div>
        </div>
    </div>-->
