<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!--MAKE SURE THIS IS IN THE HEAD FOR STYLING ACROSS DEVICES-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Heads Up Heads</title>

    <!--Bootstrap and jQuery-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!--MY EXTERNAL STYLESHEETS-->
    <!--<link rel="stylesheet" href="/css/normalize.css" />-->
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/messageBoard.css" />
    <link rel="stylesheet" href="/css/mediaStyles2.css" />

</head>
<body>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Heads Up Heads</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">SHOWS</a></li>
                    <li><a href="#">MESSAGEBOARD</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
            </div>
        </div>
    </nav>-->
    <% include ../partials/nav %>

    <div class="container logo-background text-center">
        <div class="page-title text-center">
            <span>MESSAGEBOARD</span>
        </div>
        <!--<span class="glyphicon glyphicon-circle-arrow-down scroll-btn"></span>-->
    </div>
    <div class="container content">
        <div class="table-responsive messageboard">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Post Title</th>
                        <th>Author</th>
                        <th>Posts</th>
                        <th>Latest Post</th>
                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach(function(post){ %>
                  <tr>
                      <td class="row-title"><%= post.postHeading %></td>
                      <td class="row-author"><%= post.userPosting.username %></td>
                      <td class="row-posts">0</td> <!-- @TODO: MAKE FUNCTION/LINE OF CODE FOR TOTAL POSTS -->
                      <td class="row-timeStamp">1 day ago</td>
                    <% }) %>  
                  </tr>
                    <!--see template at bottom of body-->
                </tbody>
            </table>
        </div> 
    </div>

    <nav class="navbar navbar-inverse navbar-static-bottom footer">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">SHOWS</a></li>
                    <li><a href="#">MESSAGEBOARD</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <!--<script type="text/template" id="tableRow">
        <tr>
            <td class="row-title">Nothing to display</td>
            <td class="row-author">Nothing to display</td>
            <td class="row-posts">0</td>
            <td class="row-timeStamp">Nothing to display</td>
        </tr>
    </script>-->

    <script src="/js/messageboard.js"></script>
</body>
</html>