<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/header %>
  </head>
  <body>
    <% include ../partials/nav %>

			<% if(hasErrors) {%>
				<% for(var i=0; i < messages.length; i++) {%>
					<div class="alert alert-danger"> 
					<a href="#" class="close" data-dismiss="alert" aria-label="close">
					&time;
					</a>
					<%= messages[i] %>  <!-- when adding the equal sign to these tags, able to call                     a variable that is passed from backend -->
				</div>
			<% } %> 
		<% } %>   

			<div class="container">
				<h1> NEW POST PAGE</h1>

				<div class="container">
					<form method="POST" class="" id="newPostForm" action="/message-board/new-post">
						<div class="form-group col-xs-12">
							<input id="postHeading" class="form-control" name="postHeading" type="text" autocomplete="on" placeholder="POST HEADING" style="margin-top: 20px; margin-bottom:20px;">
						</div>

						<div class="form-group col-xs-12">
							<input id="postText" class="form-control" name="postText" type="text" autocomplete="on" placeholder="POST TEXT" style="margin-top: 20px; margin-bottom:20px;">
						</div>

						<div class="form-group">
							<input type="submit" id="submit" value="SUBMIT POST" class="form-control btn btn-primary" name="submit">
						</div>
					</form>
				</div>
			</div>
		<% include ../partials/footer %>
  </body>
</html>